<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RoutineHub{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <a href="/" class="header__logo">
            <span class="header__logo-icon">
                <img src="{{ url_for('static', filename='images/logo-svg.svg') }}" alt="Estrelas do logo do RoutineHub">
            </span>
            <span class="header__logo-text">RoutineHub</span>
        </a>

        <nav class="header__nav">
            <a href="/" class="header__nav-link header__nav-link--active">
                <img src="{{ url_for('static', filename='images/casa-svg.svg') }}" alt="Logo de uma casa">
                Hoje
            </a>
            <a href="/estatisticas" class="header__nav-link">
                <img src="{{ url_for('static', filename='images/stats-svg.svg') }}" alt="Logo de um gráfico de barras">
                Estatísticas
            </a>
        </nav>

        <a href="/rotinas/nova" class="header__cta">
            + Nova rotina
        </a>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer></footer>
</body>
</html>